section.menu
  .menu__layer
  .menu__wrapper
    each section in navigation.body
      .menu__content
        ul.menu__list
          each menu in section.items
            li.menu__item(data-item=menu.name.toLowerCase())
              .menu__path
                a.menu__link(href=ctx.prismicH.asLink(menu.link))
                  span.menu__front= menu.name
                  span.menu__back= menu.name
        .menu__info
          .menu__contact
            p.menu__address= contact.address
            p.menu__email= contact.email
          .menu__social
