extends ../base.pug

block variables
  - var template = "contact"

block body
  section.contact
    .contact__wrapper
      header.contact__header
        h1.contact__title(data-animation='title')= contact.title[0].text
      main.contact__main
        h2.contact__service(data-animation='title')= contact.service[0].text
        .contact__info
          p.contact__address(data-animation='paragraph')= contact.address
          p.contact__phone(data-animation='paragraph')= contact.phone
          p.contact__email(data-animation='paragraph')= contact.email
        form.contact__form
          .contact__field
            label.contact__field__label= "Nama"
            input.contact__field__input(type='text', placeholder='Masukkan nama Anda di sini')
          .contact__field
            label.contact__field__label= "Email"
            input.contact__field__input(
              type='text',
              placeholder='Masukkan alamat email Anda di sini'
            )
          .contact__field
            label.contact__field__label= "Pesan"
            textarea.contact__field__textarea(
              name='textarea',
              cols='30',
              rows='10',
              placeholder='Tulis pesan Anda di sini'
            )

          button.contact__submit(type='submit')= "Kirim"

block footer
  include ../partials/footer

